.w-layout-grid {
  display: -ms-grid;
  display: grid;
  grid-auto-columns: 1fr;
  -ms-grid-columns: 1fr 1fr;
  grid-template-columns: 1fr 1fr;
  -ms-grid-rows: auto auto;
  grid-template-rows: auto auto;
  grid-row-gap: 16px;
  grid-column-gap: 16px;
}

h1 {
  margin-top: 20px;
  margin-bottom: 10px;
  font-size: 38px;
  line-height: 44px;
  font-weight: bold;
}

p {
  margin-bottom: 10px;
  font-family: Lato, sans-serif;
  color: #fff;
  font-weight: 300;
}

.button {
  margin-right: 20px;
  margin-left: 20px;
  border-radius: 5px;
  background-color: #646464;
}

.container {
  position: relative;
  top: auto;
  bottom: auto;
  display: block;
  max-width: 866px;
  -webkit-box-flex: 0;
  -webkit-flex: 0 auto;
  -ms-flex: 0 auto;
  flex: 0 auto;
  border-style: none;
  border-width: 6px;
  border-color: #dcdcc4;
}

.heading {
  position: static;
  left: 0%;
  top: 40vh;
  right: 0%;
  bottom: auto;
  max-width: none;
  margin-top: 24px;
  margin-right: 0px;
  margin-bottom: 0px;
  font-family: Lato, sans-serif;
  color: #f2f2f2;
  font-weight: 400;
  text-align: left;
  text-transform: uppercase;
}

.heading-2 {
  position: relative;
  display: block;
  max-width: none;
  margin-top: 0px;
  margin-bottom: 24px;
  font-family: Lato, sans-serif;
  color: #f2f2f2;
  font-size: 38px;
  font-weight: 400;
  text-align: center;
  text-transform: uppercase;
}

.heading-2.annexes {
  margin-top: 72px;
}

.body {
  background-color: #141414;
  color: #141414;
}

.paragraph {
  position: relative;
  max-width: none;
  margin-top: 24px;
  margin-right: 0px;
  margin-bottom: 24px;
  font-family: Lato, sans-serif;
  color: #b0b0b0;
  font-size: 18px;
  line-height: 26px;
  font-weight: 300;
  text-align: left;
  letter-spacing: normal;
  text-transform: none;
}

.button-2 {
  margin-top: 48px;
  border-radius: 5px;
  background-color: #00ffe0;
  color: #000;
  font-weight: 700;
  text-transform: uppercase;
}

.div-block {
  position: static;
  left: auto;
  top: 0%;
  right: 0%;
  bottom: auto;
  background-color: #000;
  color: #000;
}

.button-3 {
  position: static;
}

.section {
  display: block;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  background-color: #000;
}

.menu {
  border-radius: 10px;
  background-color: #000;
}

.image {
  position: relative;
  float: none;
  clear: none;
}

.container-2 {
  position: relative;
  top: auto;
  bottom: auto;
  max-width: 866px;
  -o-object-fit: fill;
  object-fit: fill;
}

.image-2 {
  position: absolute;
  z-index: auto;
}

.heading-3 {
  color: #fff;
  font-size: 18px;
  font-weight: 400;
}

.vocabulary-button {
  margin-right: 24px;
  margin-left: 24px;
  padding-right: 36px;
  padding-left: 36px;
  border-radius: 5px;
  background-color: #3c3c3c;
  background-clip: border-box;
  -webkit-text-fill-color: inherit;
}

.div-block-2 {
  padding-top: 12px;
  padding-bottom: 12px;
}

.div-block-3 {
  padding-top: 12px;
  padding-bottom: 12px;
}

.div-block-4 {
  padding-top: 12px;
  padding-bottom: 12px;
}

.grid {
  -ms-grid-columns: 0.5fr 0.5fr;
  grid-template-columns: 0.5fr 0.5fr;
  -ms-grid-rows: auto auto auto;
  grid-template-rows: auto auto auto;
}

.grid-2 {
  margin-left: 0px;
  padding-top: 12px;
  padding-bottom: 12px;
  grid-row-gap: 24px;
  -ms-grid-rows: auto auto auto;
  grid-template-rows: auto auto auto;
}

.form {
  margin-top: 48px;
}

.navbar {
  position: fixed;
  left: 0%;
  top: 0%;
  right: 0%;
  bottom: auto;
  z-index: 3;
  display: block;
  max-height: 50px;
  background-color: #000;
}

.nav-link {
  position: relative;
  display: inline-block;
  margin: 12px 24px;
  padding: 0px;
  font-family: Lato, sans-serif;
  color: #c4c4c4;
  font-size: 16px;
  font-weight: 300;
  cursor: pointer;
}

.nav-link:hover {
  color: #fff;
  font-weight: 300;
}

.nav-link.w--current {
  margin-top: 12px;
  margin-bottom: 12px;
  padding: 0px;
  background-color: transparent;
  color: #fff;
  font-weight: 700;
  white-space: normal;
}

.body-2 {
  background-color: #3c3c3c;
}

.text-block {
  color: #fff;
}

.image-3 {
  display: inline-block;
  overflow: visible;
  margin-right: auto;
  margin-left: 60px;
  -o-object-fit: fill;
  object-fit: fill;
}

.hero-overlay {
  display: block;
  height: 90vh;
  max-height: 780px;
  padding-top: 100px;
  padding-bottom: 100px;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  background-image: none;
  background-position: 0px 0px;
  background-size: auto;
  background-repeat: repeat;
  background-attachment: scroll;
  color: #fff;
}

.centered-container {
  -webkit-box-flex: 1;
  -webkit-flex: 1;
  -ms-flex: 1;
  flex: 1;
  text-align: center;
}

.asset-fleche {
  position: relative;
  display: block;
  width: 48px;
  height: 48px;
  max-width: none;
  margin-right: auto;
  margin-left: auto;
  cursor: pointer;
}

.div-block-5 {
  position: relative;
  bottom: 0px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
}

.div-1 {
  position: relative;
  max-width: none;
  min-height: 0px;
  margin: 24px;
  padding: 12px;
  border: 6px solid #d9d9d9;
  background-color: #0f0f0f;
  color: #d9d9d9;
}

.div-block-7 {
  position: relative;
  max-width: 644px;
  padding: 60px;
  border: 6px solid #dcdcc4;
  background-color: #000;
}

.image-5 {
  margin-top: 40px;
}

.text-block-2 {
  display: inline-block;
  margin-top: 40px;
  padding: 10px 20px;
  border-radius: 6px;
  background-color: #ffa580;
  font-family: Lato, sans-serif;
  color: #000;
  font-weight: 700;
  text-transform: uppercase;
}

.div-1-1 {
  position: relative;
  min-height: 0px;
  padding: 24px;
  border: 1px solid #d9d9d9;
  color: #d9d9d9;
}

.triangle-2 {
  position: absolute;
  left: auto;
  top: auto;
  right: 12px;
  bottom: 12px;
  z-index: auto;
  margin-right: auto;
  margin-left: auto;
  float: right;
  clear: right;
  -webkit-transform: rotate(180deg);
  -ms-transform: rotate(180deg);
  transform: rotate(180deg);
  -o-object-fit: fill;
  object-fit: fill;
}

.triangle-1 {
  position: absolute;
  left: 12px;
  top: 12px;
  display: inline-block;
  max-width: 24px;
  color: beige;
}

.div-2 {
  position: relative;
  max-width: 644px;
  margin-top: 0px;
  padding: 12px;
  border: 6px solid #dcddc4;
  background-color: #000;
}

.div-2-1 {
  position: relative;
  padding: 48px;
  border: 1px solid #dcddc4;
}

.image-8 {
  position: absolute;
  left: 12px;
  top: 12px;
}

.image-9 {
  position: absolute;
  right: 12px;
  bottom: 12px;
  -webkit-transform: rotate(180deg);
  -ms-transform: rotate(180deg);
  transform: rotate(180deg);
}

.container-3 {
  display: block;
  max-width: 644px;
  margin-top: 120px;
}

.section-2 {
  position: relative;
  overflow: hidden;
  height: 1080px;
  min-height: 0px;
}

.div-block-8 {
  position: absolute;
  left: 0%;
  top: 0%;
  right: 0%;
  bottom: auto;
  height: 1080px;
  background-image: url('../images/Plan-de-travail-1.svg');
  background-position: 0px 0px;
  background-size: 100% 100%;
  -webkit-transform: scale3d(1, 0.8, 1);
  transform: scale3d(1, 0.8, 1);
  -webkit-transform-style: preserve-3d;
  transform-style: preserve-3d;
}

.section-3 {
  position: relative;
  display: block;
  overflow: visible;
  height: 100vh;
}

.div-background {
  position: fixed;
  left: 0%;
  top: 0%;
  right: 0%;
  bottom: 0px;
  display: block;
  width: auto;
  height: 100%;
  min-width: auto;
  margin-right: auto;
  margin-left: auto;
  background-image: url('../images/Background_2.svg');
  background-position: 50% 50%;
  background-size: auto 125%;
  background-repeat: no-repeat;
  background-attachment: fixed;
  opacity: 0.2;
  -o-object-fit: fill;
  object-fit: fill;
}

.heading-4 {
  color: #fff;
  text-align: center;
}

.div-block-10 {
  position: absolute;
  left: 0%;
  top: 0%;
  right: 0%;
  bottom: auto;
  height: 140%;
  -webkit-transform: scale(1);
  -ms-transform: scale(1);
  transform: scale(1);
}

.image-10 {
  position: absolute;
  left: 12px;
  top: 12px;
  right: auto;
  bottom: auto;
}

.image-11 {
  position: absolute;
  left: auto;
  top: auto;
  right: 12px;
  bottom: 12px;
  -webkit-transform: rotate(180deg);
  -ms-transform: rotate(180deg);
  transform: rotate(180deg);
}

.html-embed {
  margin-top: 60px;
}

.div-block-11 {
  position: absolute;
  left: auto;
  top: 0px;
  right: 0px;
  bottom: auto;
  display: block;
  width: 24px;
  height: 120px;
  max-width: none;
}

.text-block-3 {
  position: absolute;
  left: auto;
  top: 0%;
  right: 0%;
  bottom: auto;
  overflow: visible;
  width: 120px;
  height: 24px;
  -webkit-backface-visibility: visible;
  backface-visibility: visible;
  -webkit-perspective: none;
  perspective: none;
  -webkit-transform: rotate(-90deg);
  -ms-transform: rotate(-90deg);
  transform: rotate(-90deg);
  -webkit-transform-origin: 100% 100%;
  -ms-transform-origin: 100% 100%;
  transform-origin: 100% 100%;
  font-family: Lato, sans-serif;
  color: beige;
  font-weight: 400;
  text-align: right;
  -o-object-fit: fill;
  object-fit: fill;
  -o-object-position: 100% 0%;
  object-position: 100% 0%;
}

.text-block-4 {
  position: absolute;
  left: 24px;
  top: auto;
  right: auto;
  bottom: 0px;
  width: 120px;
  height: 24px;
  font-family: Lato, sans-serif;
  color: beige;
}

.footer {
  position: relative;
  left: 0px;
  right: 0px;
  bottom: 0px;
  margin-top: 0px;
  padding-top: 12px;
  padding-bottom: 12px;
  -webkit-box-align: start;
  -webkit-align-items: flex-start;
  -ms-flex-align: start;
  align-items: flex-start;
  background-color: #141414;
  text-align: center;
}

.footer-flex-container {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 0px;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
  text-align: left;
}

.footer-logo-link {
  max-height: 60px;
  min-width: 60px;
  -webkit-box-flex: 0;
  -webkit-flex: 0 auto;
  -ms-flex: 0 auto;
  flex: 0 auto;
}

.footer-image {
  width: 100%;
  height: 100%;
  -o-object-fit: contain;
  object-fit: contain;
  -o-object-position: 0% 50%;
  object-position: 0% 50%;
}

.footer-heading {
  margin-top: 0px;
  margin-bottom: 20px;
  font-size: 14px;
  line-height: 1.5;
}

.footer-link {
  display: block;
  margin-bottom: 0px;
  font-family: Lato, sans-serif;
  color: #c4c4c4;
  font-weight: 300;
  text-decoration: none;
}

.footer-link:hover {
  text-decoration: underline;
}

.section-4 {
  position: absolute;
  left: 0%;
  top: 0%;
  right: 0%;
  bottom: auto;
  height: 125%;
  background-image: url('../images/Background_01.svg');
  background-position: 50% 50%;
  background-size: auto 120%;
  background-repeat: no-repeat;
  background-attachment: scroll;
  -webkit-transform: scale3d(1, 0.8, 1) translate(0px, -10%);
  transform: scale3d(1, 0.8, 1) translate(0px, -10%);
  -webkit-transform-style: preserve-3d;
  transform-style: preserve-3d;
}

.heading-5 {
  color: #fff;
}

.heading-6 {
  color: #fff;
}

.container-4 {
  position: relative;
  display: block;
  margin-right: auto;
  margin-left: auto;
  background-color: #000;
}

.html-embed-2 {
  min-height: auto;
}

.div-block-12 {
  position: static;
  left: 0%;
  top: 0%;
  right: 0%;
  bottom: auto;
  display: block;
  margin-top: 48px;
}

.div-block-13 {
  position: absolute;
  left: 0%;
  top: 0%;
  right: 0%;
  bottom: auto;
  display: block;
}

.heading-7 {
  position: static;
  margin-top: 0px;
  margin-bottom: 0px;
  font-family: Lato, sans-serif;
  color: #fff;
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
}

.paragraph-2 {
  position: relative;
  margin-top: 48px;
  margin-bottom: 60px;
  font-family: Lato, sans-serif;
  color: #fff;
  font-size: 14px;
}

.html-embed-3 {
  position: relative;
  margin-right: auto;
  margin-bottom: 0px;
  margin-left: auto;
}

.div-block-14 {
  position: relative;
  padding: 24px;
  border: 1px solid #dcddc4;
}

.div-block-15 {
  position: relative;
  max-width: 360px;
  margin-top: 12px;
  border-style: solid;
  border-width: 1px;
  border-color: #fff;
}

.div-block-16 {
  border-style: solid;
  border-width: 1px;
  border-color: #fff;
}

.grid-3 {
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-align-content: center;
  -ms-flex-line-pack: center;
  align-content: center;
  grid-template-areas: ". Area";
  -ms-grid-columns: 1fr 1fr 1fr;
  grid-template-columns: 1fr 1fr 1fr;
  -ms-grid-rows: auto auto minmax(auto, 1fr);
  grid-template-rows: auto auto minmax(auto, 1fr);
}

.div-block-17 {
  display: block;
}

.heading-8 {
  position: relative;
  left: 0%;
  top: 0%;
  right: 0%;
  bottom: auto;
  max-width: none;
  margin-top: 0px;
  margin-bottom: 24px;
  font-family: Lato, sans-serif;
  color: #f2f2f2;
  font-size: 18px;
  line-height: 22px;
  text-align: center;
}

.paragraph-3 {
  font-family: Lato, sans-serif;
  color: #fff;
  font-size: 10px;
}

.div-block-18 {
  position: relative;
  padding: 48px;
  border: 1px solid #dcddc4;
}

.columns {
  display: block;
}

.container-5 {
  position: relative;
  max-width: none;
}

.column {
  margin-top: 12px;
  margin-bottom: 12px;
}

.column-2 {
  padding-right: 12px;
  padding-left: 12px;
}

.column-3 {
  padding-right: 12px;
  padding-left: 12px;
}

.image-12 {
  position: absolute;
  left: auto;
  top: auto;
  right: auto;
  bottom: auto;
  display: block;
  max-width: none;
  margin: 0px auto;
  -webkit-box-ordinal-group: 3;
  -webkit-order: 2;
  -ms-flex-order: 2;
  order: 2;
  -o-object-fit: contain;
  object-fit: contain;
}

.utility-page-wrap {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 100vw;
  height: 100vh;
  max-height: 100%;
  max-width: 100%;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.utility-page-content {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 260px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  text-align: center;
}

.heading-9 {
  color: #fff;
}

.text-block-5 {
  color: #fff;
}

.paragraph-4 {
  margin-top: 48px;
  font-family: Lato, sans-serif;
  color: #fff;
  text-align: center;
}

.image-13 {
  position: absolute;
  right: 12px;
  bottom: 12px;
  -webkit-transform: rotate(-90deg) scale(0.6);
  -ms-transform: rotate(-90deg) scale(0.6);
  transform: rotate(-90deg) scale(0.6);
}

.image-14 {
  position: absolute;
  -webkit-transform: scale(0.5);
  -ms-transform: scale(0.5);
  transform: scale(0.5);
}

.image-15 {
  position: relative;
  left: auto;
  top: auto;
  right: 0px;
  bottom: auto;
  float: right;
  -webkit-transform: scale(1);
  -ms-transform: scale(1);
  transform: scale(1);
}

.div-block-19 {
  position: absolute;
  left: 0%;
  top: 0%;
  right: 0%;
  bottom: auto;
  height: 125%;
  background-image: url('../images/Background_2.svg');
  background-position: 50% 50%;
  background-size: auto;
  background-repeat: no-repeat;
  background-attachment: fixed;
  -webkit-transform: translate(0px, 0px) scale3d(1, 0.8, 1);
  transform: translate(0px, 0px) scale3d(1, 0.8, 1);
  -webkit-transform-style: preserve-3d;
  transform-style: preserve-3d;
}

.hero {
  display: block;
  padding-top: 100px;
  padding-bottom: 100px;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.flex-container {
  position: relative;
  display: block;
  margin-bottom: 48px;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-pack: start;
  -webkit-justify-content: flex-start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-flex: 1;
  -webkit-flex: 1;
  -ms-flex: 1;
  flex: 1;
  grid-auto-columns: 1fr;
  -ms-grid-columns: 1fr 1fr;
  grid-template-columns: 1fr 1fr;
  -ms-grid-rows: auto auto;
  grid-template-rows: auto auto;
}

.hero-image-mask {
  width: 100%;
  margin-left: 0px;
}

.hero-image {
  width: 100%;
  height: 100%;
  -webkit-box-flex: 0;
  -webkit-flex: 0 0.5 auto;
  -ms-flex: 0 0.5 auto;
  flex: 0 0.5 auto;
  -o-object-fit: cover;
  object-fit: cover;
  -o-object-position: 50% 50%;
  object-position: 50% 50%;
}

.image-16 {
  margin-top: 0px;
}

.feature-section {
  position: relative;
  height: 100vh;
  background-color: #141414;
}

.feature-image-mask {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  margin-right: 40px;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-flex-wrap: nowrap;
  -ms-flex-wrap: nowrap;
  flex-wrap: nowrap;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.feature-image {
  position: relative;
  width: auto;
  height: auto;
  max-width: 200px;
  margin-right: auto;
  margin-left: auto;
  -o-object-fit: contain;
  object-fit: contain;
  -o-object-position: 50% 50%;
  object-position: 50% 50%;
}

.section-cadre {
  position: relative;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  height: 100vh;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  background-color: transparent;
}

.list {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 0px;
  padding-right: 0px;
  padding-left: 0px;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-flex-wrap: nowrap;
  -ms-flex-wrap: nowrap;
  flex-wrap: nowrap;
}

.list-item {
  position: relative;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  max-width: 500px;
  margin-right: 0px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-flex: 0;
  -webkit-flex: 0 auto;
  -ms-flex: 0 auto;
  flex: 0 auto;
  grid-auto-columns: 1fr;
  -ms-grid-columns: 1fr 1fr;
  grid-template-columns: 1fr 1fr;
  -ms-grid-rows: auto auto;
  grid-template-rows: auto auto;
  list-style-type: none;
}

.list-item-2 {
  margin-right: 24px;
}

.container-6 {
  display: inline-block;
}

.container-7 {
  position: relative;
  top: auto;
  max-width: 866px;
}

.div-block-20 {
  position: relative;
  width: auto;
  height: auto;
  margin: 0px;
  padding: 12px;
  border: 6px solid #dcdcc4;
  border-radius: 0px;
  background-color: #000;
}

.div-map-fixed {
  position: relative;
  display: block;
  padding: 0px;
  border: 0.5px none beige;
  cursor: pointer;
}

.section-6 {
  position: relative;
  height: 25vh;
  background-color: #141414;
  background-clip: border-box;
  -webkit-text-fill-color: inherit;
}

.heading-10 {
  color: #fff;
}

.section-7 {
  position: relative;
  display: block;
  height: 100vh;
  opacity: 1;
}

.div-block-22 {
  position: fixed;
  height: 100%;
  background-image: url('../images/Background_2.svg');
  background-position: 0px 0px;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  opacity: 0.2;
}

.heading-11 {
  position: relative;
  margin-top: 0px;
  margin-bottom: 24px;
  -webkit-align-self: auto;
  -ms-flex-item-align: auto;
  -ms-grid-row-align: auto;
  align-self: auto;
  font-family: Lato, sans-serif;
  color: #f2f2f2;
  font-size: 120px;
  line-height: 120px;
  font-weight: 300;
  text-align: center;
  text-transform: uppercase;
}

.nav-menu {
  right: 0px;
  display: block;
  background-color: #000;
}

.paragraph-5 {
  position: relative;
  margin-top: 24px;
  margin-bottom: 0px;
  color: #d9d9d9;
  font-size: 18px;
  line-height: 24px;
  text-align: left;
}

.container-8 {
  position: relative;
  margin-bottom: 48px;
}

.container-9 {
  position: relative;
  display: none;
  margin-bottom: 48px;
}

.paragraph-6 {
  font-size: 18px;
}

.container-10 {
  position: relative;
  display: block;
  max-height: none;
  max-width: 866px;
  margin-top: auto;
  margin-bottom: auto;
  -webkit-box-flex: 0;
  -webkit-flex: 0 auto;
  -ms-flex: 0 auto;
  flex: 0 auto;
}

.container-10.container-next {
  height: auto;
  max-height: none;
  max-width: 866px;
  -webkit-box-flex: 1;
  -webkit-flex: 1;
  -ms-flex: 1;
  flex: 1;
}

.container-10.container-map {
  max-height: none;
  max-width: 75vw;
  -webkit-box-flex: 1;
  -webkit-flex: 1;
  -ms-flex: 1;
  flex: 1;
}

.section-gris {
  position: relative;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  height: 100vh;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  border: 1px none #d9d9d9;
  background-color: #141414;
}

.section-gris.section-auto {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  height: 100vh;
}

.section-gris.section-auto.section-annexes {
  height: auto;
}

.section-gris.section-survey {
  display: block;
}

.heading-12 {
  margin-top: 0px;
  margin-bottom: 24px;
  font-family: Lato, sans-serif;
  color: #dcdcc4;
  font-weight: 300;
  text-align: center;
  text-transform: uppercase;
}

.heading-13 {
  color: #fff;
}

.heading-14 {
  color: #fff;
}

.heading-15 {
  color: #fff;
}

.paragraph-7 {
  position: relative;
  margin-bottom: 0px;
  color: #d9d9d9;
  font-size: 18px;
  line-height: 24px;
  text-align: center;
}

.div-block-23 {
  position: relative;
  left: 0%;
  top: 0%;
  right: 0%;
  bottom: auto;
  max-width: 400px;
  margin-top: 48px;
  margin-right: auto;
  margin-left: auto;
  float: none;
  cursor: pointer;
  -o-object-fit: fill;
  object-fit: fill;
}

.div-block-24 {
  position: relative;
  left: auto;
  top: auto;
  right: auto;
  bottom: auto;
  display: block;
  max-width: 300px;
  margin-right: auto;
  margin-left: auto;
  -webkit-box-ordinal-group: 4;
  -webkit-order: 3;
  -ms-flex-order: 3;
  order: 3;
  cursor: pointer;
}

.div-block-25 {
  position: relative;
  left: auto;
  top: auto;
  right: auto;
  bottom: auto;
  display: block;
  max-width: 300px;
  margin-right: auto;
  margin-left: auto;
  -webkit-box-ordinal-group: 2;
  -webkit-order: 1;
  -ms-flex-order: 1;
  order: 1;
  grid-auto-columns: 1fr;
  -ms-grid-columns: 1fr 1fr;
  grid-template-columns: 1fr 1fr;
  -ms-grid-rows: auto auto;
  grid-template-rows: auto auto;
  cursor: pointer;
}

.div-block-26 {
  position: relative;
  max-width: 400px;
  margin-right: auto;
  margin-left: auto;
  cursor: pointer;
}

.div-block-27 {
  position: relative;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin: 48px auto;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-align-content: center;
  -ms-flex-line-pack: center;
  align-content: center;
  -o-object-fit: fill;
  object-fit: fill;
}

.div-block-28 {
  position: relative;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 150px;
  height: 150px;
  max-width: none;
  min-width: 0px;
  margin-right: 48px;
  margin-left: 48px;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-flex-wrap: nowrap;
  -ms-flex-wrap: nowrap;
  flex-wrap: nowrap;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-align-self: center;
  -ms-flex-item-align: center;
  align-self: center;
  -webkit-box-ordinal-group: 3;
  -webkit-order: 2;
  -ms-flex-order: 2;
  order: 2;
}

.section-titre {
  display: block;
  height: 100vh;
}

.heading-16 {
  width: auto;
  margin-top: 40vh;
  font-family: Lato, sans-serif;
  color: #fff;
  font-size: 10vh;
  line-height: 10vh;
  font-weight: 300;
  text-align: center;
  text-transform: uppercase;
}

.div-block-29 {
  position: relative;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  height: 10vh;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.div-block-30 {
  position: absolute;
  left: 0%;
  top: auto;
  right: 0%;
  bottom: 0%;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-flex-wrap: nowrap;
  -ms-flex-wrap: nowrap;
  flex-wrap: nowrap;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.section-10 {
  position: relative;
  height: 100vh;
}

.paragraph-8 {
  display: block;
  margin-bottom: 12px;
  color: #d9d9d9;
  font-size: 18px;
  line-height: 22px;
  font-weight: 300;
}

.div-block-31 {
  position: absolute;
  left: 0%;
  top: auto;
  right: 0%;
  bottom: auto;
  display: block;
  width: 600px;
  height: auto;
  margin: auto;
  padding: 24px;
  border: 1px solid beige;
  background-color: #141414;
}

.div-pop-up-1 {
  position: fixed;
  z-index: 3;
  display: none;
  width: 100vw;
  height: 100vh;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  background-color: rgba(20, 20, 20, 0.8);
}

.image-17 {
  position: relative;
  left: auto;
  top: auto;
  right: 0%;
  bottom: auto;
  display: block;
  max-width: 20%;
}

.div-croix-1 {
  position: absolute;
  left: auto;
  top: 0%;
  right: 0%;
  bottom: auto;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 48px;
  height: 48px;
  padding: 0px;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  cursor: pointer;
}

.image-18 {
  width: 24px;
  max-width: none;
}

.div-pop-up-2 {
  position: fixed;
  z-index: 3;
  display: none;
  width: 100vw;
  height: 100vh;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  background-color: rgba(20, 20, 20, 0.8);
}

.div-croix-2 {
  position: absolute;
  left: auto;
  top: 0%;
  right: 0%;
  bottom: auto;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 48px;
  height: 48px;
  padding: 0px;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  cursor: pointer;
}

.div-pop-up-3 {
  position: fixed;
  z-index: 3;
  display: none;
  width: 100vw;
  height: 100vh;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  background-color: rgba(20, 20, 20, 0.8);
  cursor: default;
}

.div-croix-3 {
  position: absolute;
  left: auto;
  top: 0%;
  right: 0%;
  bottom: auto;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 48px;
  height: 48px;
  padding: 0px;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  cursor: pointer;
}

.div-pop-up-4 {
  position: fixed;
  z-index: 3;
  display: none;
  width: 100vw;
  height: 100vh;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  background-color: rgba(20, 20, 20, 0.8);
}

.div-croix-4 {
  position: absolute;
  left: auto;
  top: 0%;
  right: 0%;
  bottom: auto;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 48px;
  height: 48px;
  padding: 0px;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  cursor: pointer;
}

.image-19 {
  position: relative;
  max-width: none;
  -o-object-fit: fill;
  object-fit: fill;
}

.grid-4 {
  grid-column-gap: 16px;
  grid-row-gap: 16px;
  -ms-grid-columns: 1fr 1fr 1fr;
  grid-template-columns: 1fr 1fr 1fr;
  -ms-grid-rows: auto auto;
  grid-template-rows: auto auto;
}

.heading-17 {
  position: relative;
  z-index: 2;
  margin: auto auto 12px 0px;
  font-family: Lato, sans-serif;
  color: #fff;
  font-size: 24px;
  line-height: 30px;
  font-weight: 400;
  text-transform: uppercase;
}

.image-fond-1 {
  position: relative;
  display: block;
  overflow: visible;
}

.paragraph-9 {
  position: relative;
  z-index: 2;
  margin: auto;
  font-size: 16px;
  line-height: 22px;
}

.image-container {
  position: relative;
  display: block;
  overflow: hidden;
  background-color: #141414;
}

.text-container {
  position: absolute;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  padding: 18px 12px 12px 18px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: reverse;
  -webkit-flex-direction: column-reverse;
  -ms-flex-direction: column-reverse;
  flex-direction: column-reverse;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: start;
  -webkit-align-items: flex-start;
  -ms-flex-align: start;
  align-items: flex-start;
}

.text-span {
  font-size: 10px;
  font-style: italic;
}

.text-span-2 {
  font-size: 10px;
  font-style: italic;
}

.div-block-34 {
  position: relative;
  margin-bottom: 48px;
}

.text-span-3 {
  font-size: 10vh;
  line-height: 10vh;
}

.heading-18 {
  position: relative;
  margin-top: 0px;
  margin-bottom: 0px;
  font-family: Lato, sans-serif;
  color: #f2f2f2;
  font-size: 60px;
  line-height: 60px;
  font-weight: 300;
  text-align: center;
  text-transform: uppercase;
}

.text-span-4 {
  font-size: 24px;
}

.link {
  color: #fff;
  font-weight: 300;
  text-decoration: underline;
}

.section-11 {
  position: relative;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.link-2 {
  color: #0af;
}

.bold-text {
  font-size: 24px;
  font-weight: 300;
  text-transform: uppercase;
}

.bold-text-2 {
  font-size: 24px;
  font-weight: 300;
  text-transform: uppercase;
}

.bold-text-3 {
  font-size: 24px;
  font-weight: 300;
  text-transform: uppercase;
}

.bold-text-4 {
  font-size: 24px;
  font-weight: 300;
  text-transform: uppercase;
}

.bold-text-5 {
  font-size: 24px;
  font-weight: 300;
  text-transform: uppercase;
}

.bold-text-6 {
  font-size: 24px;
  font-weight: 300;
  text-transform: uppercase;
}

.bold-text-7 {
  font-size: 24px;
  font-weight: 300;
  text-transform: uppercase;
}

.bold-text-8 {
  font-size: 24px;
  font-weight: 300;
  text-transform: uppercase;
}

.bold-text-9 {
  font-size: 24px;
  font-weight: 300;
  text-transform: uppercase;
}

.bold-text-10 {
  font-size: 24px;
  font-weight: 300;
  text-transform: uppercase;
}

.bold-text-11 {
  font-size: 24px;
  font-weight: 300;
  text-transform: uppercase;
}

.bold-text-12 {
  font-size: 24px;
  font-weight: 300;
  text-transform: uppercase;
}

.bold-text-13 {
  font-size: 24px;
  font-weight: 300;
  text-transform: uppercase;
}

.bold-text-14 {
  font-size: 24px;
  font-weight: 300;
  text-transform: uppercase;
}

.bold-text-15 {
  font-size: 24px;
  line-height: 32px;
  font-weight: 300;
  text-transform: uppercase;
}

.link-3 {
  color: #0af;
}

.link-4 {
  color: #0af;
}

.link-5 {
  color: #0af;
}

.link-6 {
  color: #0af;
}

.link-7 {
  color: #0af;
}

.link-8 {
  color: #0af;
}

.link-9 {
  color: #0af;
}

.link-10 {
  color: #0af;
}

.link-11 {
  color: #0af;
}

.link-12 {
  color: #0af;
}

.link-13 {
  color: #0af;
}

.link-14 {
  color: #fff;
}

.paragraph-10 {
  display: inline-block;
  margin-top: 12px;
  margin-bottom: 12px;
}

.paragraph-11 {
  margin: 12px 24px 12px auto;
  padding-right: 0px;
}

.image-20 {
  position: absolute;
  left: auto;
  top: 0%;
  right: 0%;
  bottom: 0%;
  max-width: 240px;
}

.div-block-35 {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
}

.image-21 {
  display: block;
  max-width: 180px;
  margin: 12px auto 0px 12px;
}

.image-22 {
  position: relative;
  display: block;
  max-width: 180px;
  margin-top: 24px;
  margin-right: auto;
  margin-left: auto;
}

.section-coupure {
  position: relative;
  display: none;
  height: 10vh;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  background-color: #141414;
}

.div-block-36 {
  border: 1px solid beige;
}

.container-11 {
  max-width: 200px;
  -webkit-box-flex: 1;
  -webkit-flex: 1;
  -ms-flex: 1;
  flex: 1;
}

.link-block {
  overflow: visible;
}

.container-12 {
  position: relative;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  height: 100vh;
  padding-right: 0px;
  padding-left: 0px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.paragraph-12 {
  margin-top: 48px;
  margin-bottom: 0px;
  font-family: Lato, sans-serif;
  color: #b0b0b0;
  font-style: italic;
  font-weight: 300;
}

.div-block-39 {
  position: relative;
  display: block;
  margin-top: 24px;
  font-family: Lato, sans-serif;
  font-weight: 300;
  text-align: right;
}

.div-block-40 {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.paragraph-13 {
  position: relative;
  display: block;
  margin-bottom: 24px;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  font-size: 24px;
  line-height: 24px;
  text-align: center;
}

.div-block-41 {
  position: absolute;
  left: auto;
  top: auto;
  right: 0%;
  bottom: 0%;
}

.paragraph-14 {
  margin-right: 12px;
  margin-bottom: 12px;
}

.div-block-42 {
  position: absolute;
  left: auto;
  top: auto;
  right: 48px;
  bottom: 48px;
  width: auto;
  height: auto;
  border-radius: 6px;
  background-color: hsla(0, 0%, 69%, 0.5);
}

.image-23 {
  position: relative;
  -webkit-transform: rotate(180deg);
  -ms-transform: rotate(180deg);
  transform: rotate(180deg);
}

.div-block-43 {
  position: -webkit-sticky;
  position: sticky;
  right: auto;
  bottom: auto;
  width: 48px;
  height: 48px;
}

.paragraph-15 {
  max-width: 300px;
}

.container-14 {
  display: block;
}

.list-2 {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin-top: 48px;
  margin-bottom: 0px;
  padding-left: 0px;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-flex-wrap: nowrap;
  -ms-flex-wrap: nowrap;
  flex-wrap: nowrap;
  -webkit-box-align: start;
  -webkit-align-items: flex-start;
  -ms-flex-align: start;
  align-items: flex-start;
}

.paragraph-16 {
  margin-bottom: 0px;
  padding: 12px;
}

.paragraph-16.paragraph-5 {
  margin-top: 0px;
}

.list-item-3 {
  -webkit-box-flex: 0;
  -webkit-flex: 0 auto;
  -ms-flex: 0 auto;
  flex: 0 auto;
}

.image-24 {
  display: none;
  max-width: 50%;
}

.image-25 {
  display: none;
  max-width: 50%;
}

.image-26 {
  display: none;
  max-width: 50%;
  -webkit-transform: rotate(0deg);
  -ms-transform: rotate(0deg);
  transform: rotate(0deg);
}

.div-pop-up {
  position: absolute;
  left: 0%;
  top: 0%;
  right: 0%;
  bottom: 0%;
  z-index: 3;
  display: none;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  background-color: #141414;
}

.div-block-44 {
  position: fixed;
  left: 0%;
  top: 0%;
  right: 0%;
  bottom: 0%;
  z-index: 3;
  display: block;
  width: 100vw;
  height: 100vh;
  background-color: #141414;
  -o-object-fit: fill;
  object-fit: fill;
}

.image-27 {
  display: block;
  max-height: 100%;
}

.div-block-45 {
  position: absolute;
  left: auto;
  top: 0%;
  right: 0%;
  bottom: auto;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 48px;
  height: 48px;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  background-color: #141414;
  cursor: pointer;
}

.image-28 {
  width: 24px;
}

.paragraph-17 {
  display: none;
}

.list-footer {
  margin-right: 12px;
  margin-left: 12px;
}

.image-29 {
  width: 48px;
  height: 48px;
  max-width: none;
}

.div-block-46 {
  position: fixed;
  left: auto;
  top: auto;
  right: 5%;
  bottom: 5%;
  z-index: auto;
  display: block;
  width: 48px;
  height: 48px;
  grid-auto-columns: 1fr;
  -ms-grid-columns: 1fr 1fr;
  grid-template-columns: 1fr 1fr;
  -ms-grid-rows: auto auto;
  grid-template-rows: auto auto;
}

.image-30 {
  display: block;
  max-width: 180px;
  margin-top: 24px;
  margin-right: auto;
  margin-left: auto;
}

.section {
  display: block;
  height: 100vh;
}

.nav-link-test {
  display: none;
  margin: 12px 24px;
  padding: 0px;
  font-family: Lato, sans-serif;
  color: #c4c4c4;
  font-size: 16px;
  font-weight: 300;
}

.image-31 {
  position: relative;
  width: 12px;
  height: 12px;
  max-width: none;
  -webkit-transform: rotate(-90deg);
  -ms-transform: rotate(-90deg);
  transform: rotate(-90deg);
}

.div-block-47 {
  position: absolute;
  left: 22%;
  top: 13%;
  right: auto;
  bottom: auto;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: auto;
  max-width: none;
  min-height: 24px;
  min-width: 24px;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.pop-up-circular {
  position: absolute;
  left: 25%;
  top: 8%;
  right: auto;
  bottom: auto;
  display: none;
  width: auto;
  padding: 12px;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-flex-wrap: nowrap;
  -ms-flex-wrap: nowrap;
  flex-wrap: nowrap;
  -webkit-box-align: start;
  -webkit-align-items: flex-start;
  -ms-flex-align: start;
  align-items: flex-start;
  background-color: #141414;
}

.image-32 {
  position: relative;
  left: 0%;
  top: 0%;
  right: 0%;
  bottom: auto;
  display: inline-block;
  width: 300px;
  max-width: none;
}

.text-map-1 {
  font-family: Lato, sans-serif;
  color: #f2f2f2;
  font-size: 2.4vw;
  font-weight: 400;
}

.div-block-49 {
  position: absolute;
  left: 10.5%;
  top: 13%;
  right: auto;
  bottom: auto;
  padding: 0px;
  cursor: pointer;
}

.div-extend {
  position: absolute;
  left: auto;
  top: 0%;
  right: 0%;
  bottom: auto;
  width: 24px;
  height: auto;
  margin-top: 12px;
  margin-right: 12px;
  background-color: transparent;
}

.image-33 {
  position: relative;
}

.div-block-50 {
  position: absolute;
  left: 41.5%;
  top: 20%;
  right: auto;
  bottom: auto;
  cursor: pointer;
}

.div-block-51 {
  position: absolute;
  left: auto;
  top: 15%;
  right: 7%;
  bottom: auto;
  cursor: pointer;
}

.div-block-52 {
  position: absolute;
  left: 12%;
  top: 37%;
  right: auto;
  bottom: auto;
  cursor: pointer;
}

.text-map-2 {
  font-family: Lato, sans-serif;
  color: #f2f2f2;
  font-size: 1.7vw;
  font-weight: 300;
}

.div-block-53 {
  position: absolute;
  left: 47%;
  top: 48.5%;
  right: auto;
  bottom: auto;
}

.div-block-54 {
  position: absolute;
  left: auto;
  top: 41%;
  right: 5%;
  bottom: auto;
  cursor: pointer;
}

.text-map-3 {
  font-family: Lato, sans-serif;
  color: #f2f2f2;
  font-size: 1.3vw;
  font-weight: 300;
}

.div-block-55 {
  position: absolute;
  left: 7%;
  top: auto;
  right: auto;
  bottom: 36%;
  cursor: pointer;
}

.div-block-56 {
  position: absolute;
  left: 34.5%;
  top: auto;
  right: auto;
  bottom: 34%;
  cursor: pointer;
}

.div-block-57 {
  position: absolute;
  left: auto;
  top: auto;
  right: 19%;
  bottom: 36%;
  cursor: pointer;
}

.text-map-4 {
  font-family: Lato, sans-serif;
  color: #f2f2f2;
  font-size: 0.8vw;
  font-weight: 300;
  letter-spacing: normal;
}

.div-block-58 {
  position: absolute;
  left: auto;
  top: auto;
  right: 6%;
  bottom: 44.5%;
  cursor: pointer;
}

.div-block-59 {
  position: absolute;
  left: 7%;
  top: auto;
  right: auto;
  bottom: 7%;
  cursor: pointer;
}

.div-block-60 {
  position: absolute;
  left: 20%;
  top: auto;
  right: auto;
  bottom: 16%;
  cursor: pointer;
}

.div-block-61 {
  position: absolute;
  left: 25%;
  top: auto;
  right: auto;
  bottom: 28%;
  cursor: pointer;
}

.div-block-62 {
  position: absolute;
  left: 33%;
  top: auto;
  right: auto;
  bottom: 7%;
  cursor: pointer;
}

.div-block-63 {
  position: absolute;
  left: auto;
  top: auto;
  right: 45%;
  bottom: 21%;
  cursor: pointer;
}

.div-block-64 {
  position: absolute;
  left: auto;
  top: auto;
  right: 37%;
  bottom: 9%;
  cursor: pointer;
}

.div-block-65 {
  position: absolute;
  left: auto;
  top: auto;
  right: 17%;
  bottom: 24%;
  cursor: pointer;
}

.div-map-animated {
  position: relative;
  display: none;
}

.div-block-66 {
  padding: 12px;
  border: 1px solid #f2f2f2;
}

.text-block-6 {
  font-family: Lato, sans-serif;
  color: #b0b0b0;
  font-size: 14px;
  font-weight: 300;
}

.div-text-map {
  position: absolute;
  left: 0%;
  top: 0%;
  right: 0%;
  bottom: 0%;
}

.pop-up-words {
  position: absolute;
  left: 0%;
  top: 0%;
  right: 0%;
  bottom: 0%;
  display: block;
}

.pop-up-regenerative {
  position: absolute;
  left: 26%;
  top: 32%;
  right: auto;
  bottom: auto;
  display: none;
  padding: 12px;
  background-color: #141414;
}

.pop-up-responsible {
  position: absolute;
  left: 18%;
  top: auto;
  right: auto;
  bottom: 30%;
  display: none;
  padding: 12px;
  background-color: #141414;
  background-clip: border-box;
  -webkit-text-fill-color: inherit;
}

.pop-up-net-zero {
  position: absolute;
  left: 30%;
  top: auto;
  right: auto;
  bottom: 20%;
  display: none;
  padding: 12px;
  background-color: #141414;
}

.pop-up-sustainable {
  position: absolute;
  left: 14%;
  top: auto;
  right: auto;
  bottom: 1%;
  display: none;
  padding: 12px;
  background-color: #141414;
}

.pop-up-green {
  position: absolute;
  left: 24%;
  top: auto;
  right: auto;
  bottom: 10%;
  display: none;
  padding: 12px;
  background-color: #141414;
}

.pop-up-economies {
  position: absolute;
  left: auto;
  top: 15%;
  right: 22%;
  bottom: auto;
  display: none;
  padding: 12px;
  background-color: #141414;
}

@media screen and (max-width: 991px) {
  .navbar {
    left: 0%;
    top: 0%;
    right: 0%;
    bottom: auto;
    overflow: visible;
    max-height: none;
    color: transparent;
  }

  .footer {
    padding-right: 20px;
    padding-left: 20px;
  }

  .div-map-fixed {
    display: block;
  }

  .heading-11 {
    font-size: 80px;
    line-height: 80px;
  }

  .nav-menu {
    position: absolute;
    right: 0px;
  }

  .section-gris.section-auto {
    padding: 12px;
  }

  .text-container {
    padding: 6px;
  }

  .heading-18 {
    font-size: 40px;
    line-height: 40px;
  }

  .navbar-2 {
    background-color: #242424;
  }

  .icon {
    border: 1px none transparent;
    color: #fff;
  }

  .navbar-3 {
    display: none;
  }

  .menu-button {
    padding: 12px;
    background-color: #000;
  }

  .menu-button.w--open {
    background-color: #000;
  }

  .div-block-39 {
    display: block;
  }

  .paragraph-13 {
    font-size: 18px;
    line-height: 18px;
  }

  .div-pop-up {
    display: none;
  }

  .div-block-45 {
    width: 48px;
    height: 48px;
  }

  .div-map-animated {
    display: none;
  }
}

@media screen and (max-width: 767px) {
  .heading {
    font-size: 30px;
    line-height: 34px;
  }

  .heading-2 {
    margin-top: 24px;
    font-size: 30px;
    line-height: 34px;
  }

  .paragraph {
    font-size: 16px;
    line-height: 22px;
  }

  .hero-overlay {
    padding: 40px 20px;
  }

  .footer {
    padding: 40px 20px;
  }

  .footer-image {
    -o-object-fit: contain;
    object-fit: contain;
  }

  .hero {
    padding: 40px 20px;
  }

  .flex-container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
  }

  .hero-image-mask {
    margin-right: 0px;
    margin-left: 0px;
    -webkit-box-ordinal-group: 0;
    -webkit-order: -1;
    -ms-flex-order: -1;
    order: -1;
  }

  .feature-section {
    padding: 40px 20px;
  }

  .feature-image-mask {
    margin-right: 0px;
  }

  .feature-image {
    margin-right: auto;
    margin-left: auto;
  }

  .section-cadre {
    height: auto;
  }

  .heading-11 {
    font-size: 56px;
    line-height: 56px;
  }

  .paragraph-5 {
    margin-left: 12px;
  }

  .section-gris {
    height: auto;
    padding-top: 42px;
    padding-bottom: 42px;
  }

  .section-gris.section-grid {
    height: auto;
  }

  .section-gris.section-auto {
    height: auto;
    padding: 13px;
  }

  .section-gris.section-survey {
    height: 100vh;
  }

  .div-block-28 {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    margin-right: 24px;
    margin-left: 24px;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
  }

  .section-titre {
    height: 100vh;
  }

  .heading-17 {
    font-size: 18px;
    line-height: 18px;
  }

  .paragraph-9 {
    font-size: 14px;
    line-height: 18px;
  }

  .text-container {
    padding: 6px;
  }

  .heading-18 {
    font-size: 28px;
    line-height: 28px;
  }

  .container-12 {
    height: 100vh;
    margin-top: 0px;
    padding-top: 10%;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
  }

  .div-block-37 {
    margin-right: 12px;
    margin-left: 12px;
  }

  .div-block-39 {
    display: block;
  }

  .paragraph-13 {
    margin-bottom: 24px;
    font-size: 14px;
    line-height: 14px;
  }

  .div-block-41 {
    left: auto;
    top: auto;
    right: 0%;
    bottom: 0%;
  }

  .paragraph-14 {
    font-size: 10px;
    line-height: 10px;
  }

  .div-pop-up {
    display: none;
  }

  .div-block-45 {
    top: 6px;
    right: 6px;
    width: 24px;
    height: 24px;
  }

  .image-28 {
    width: 12px;
  }
}

@media screen and (max-width: 479px) {
  .container {
    max-width: 100vw;
  }

  .heading {
    font-size: 30px;
    line-height: 34px;
  }

  .heading-2 {
    margin-top: 72px;
    font-size: 30px;
    line-height: 34px;
  }

  .centered-container {
    text-align: left;
  }

  .div-1 {
    margin: 0px;
  }

  .div-1-1 {
    padding-right: 12px;
    padding-left: 12px;
  }

  .footer {
    padding-right: 20px;
    padding-left: 20px;
    text-align: left;
  }

  .footer-flex-container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
  }

  .footer-logo-link {
    height: 60px;
  }

  .footer-heading {
    margin-top: 20px;
  }

  .heading-8 {
    display: block;
    margin-bottom: 12px;
  }

  .image-12 {
    max-width: 72px;
  }

  .section-cadre {
    height: 100vh;
  }

  .section-cadre.section-double {
    height: 200vh;
  }

  .heading-11 {
    font-size: 42px;
    line-height: 42px;
  }

  .paragraph-5 {
    margin-right: 12px;
    margin-left: 12px;
    font-size: 16px;
    line-height: 20px;
  }

  .section-gris {
    height: auto;
  }

  .section-gris.section-grid {
    height: auto;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
  }

  .section-gris.section-auto {
    height: auto;
    padding: 12px;
  }

  .paragraph-7 {
    display: none;
  }

  .div-block-24 {
    min-width: 100px;
    -webkit-align-self: auto;
    -ms-flex-item-align: auto;
    -ms-grid-row-align: auto;
    align-self: auto;
  }

  .div-block-25 {
    display: block;
    min-width: 100px;
    -webkit-box-pack: start;
    -webkit-justify-content: flex-start;
    -ms-flex-pack: start;
    justify-content: flex-start;
    -webkit-box-align: stretch;
    -webkit-align-items: stretch;
    -ms-flex-align: stretch;
    align-items: stretch;
  }

  .div-block-27 {
    margin-top: auto;
    margin-bottom: auto;
    padding-right: 12px;
    padding-left: 12px;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
  }

  .div-block-28 {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    margin-right: auto;
    margin-left: auto;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-flex-wrap: nowrap;
    -ms-flex-wrap: nowrap;
    flex-wrap: nowrap;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-align-content: center;
    -ms-flex-line-pack: center;
    align-content: center;
    -webkit-align-self: center;
    -ms-flex-item-align: center;
    align-self: center;
  }

  .section-titre {
    height: 100vh;
  }

  .paragraph-8 {
    color: #d9d9d9;
  }

  .div-block-31 {
    display: block;
    width: auto;
    padding: 12px;
    border-style: solid;
  }

  .div-pop-up-1 {
    display: none;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
  }

  .image-18 {
    max-width: 24px;
  }

  .div-pop-up-2 {
    display: none;
  }

  .div-pop-up-3 {
    display: none;
  }

  .div-pop-up-4 {
    display: none;
    height: 100vh;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
  }

  .grid-4 {
    position: relative;
    grid-auto-flow: row;
    grid-auto-rows: 250px;
    grid-column-gap: 12px;
    grid-row-gap: 12px;
    -ms-grid-columns: 1fr 1fr;
    grid-template-columns: 1fr 1fr;
    -ms-grid-rows: 250px 250px;
    grid-template-rows: 250px 250px;
  }

  .heading-17 {
    margin-bottom: 6px;
    font-size: 18px;
    line-height: 18px;
  }

  .image-fond-1 {
    height: 250px;
    max-width: none;
    -o-object-fit: fill;
    object-fit: fill;
  }

  .paragraph-9 {
    font-size: 14px;
    line-height: 18px;
  }

  .image-container {
    position: relative;
  }

  .text-container {
    overflow: visible;
    padding: 6px;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
  }

  .text-span {
    line-height: 10px;
  }

  .heading-18 {
    font-size: 20px;
    line-height: 20px;
  }

  .section-coupure {
    display: none;
  }

  .container-12 {
    padding-top: 0%;
    padding-right: 0px;
    padding-left: 0px;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
  }

  .container-13 {
    max-width: 100vw;
  }

  .div-block-37 {
    position: relative;
    padding-right: 12px;
    padding-left: 12px;
  }

  .div-block-38 {
    padding: 0px 12px;
  }

  .paragraph-12 {
    color: #d9d9d9;
    font-style: italic;
    text-align: right;
  }

  .div-block-39 {
    position: relative;
    display: block;
    margin-top: 24px;
    padding-right: 12px;
    padding-left: 12px;
  }

  .paragraph-13 {
    display: none;
    margin: 0px;
    font-size: 14px;
    line-height: 20px;
  }

  .div-block-41 {
    left: auto;
    top: 60px;
    right: 0%;
    bottom: auto;
  }

  .div-pop-up {
    display: none;
  }

  .paragraph-17 {
    position: relative;
    display: block;
    margin-bottom: 12px;
    font-size: 16px;
    line-height: 24px;
    text-align: center;
  }

  .list-footer {
    margin-right: 6px;
    margin-left: 6px;
  }
}

@media screen and (max-width: 479px) {
  #w-node-c9aa01e3-bed3-c523-562a-ff468ed72e75-662a5968 {
    -ms-grid-column-align: auto;
    justify-self: auto;
  }
}

