.w-layout-grid {
  display: -ms-grid;
  display: grid;
  grid-auto-columns: 1fr;
  -ms-grid-columns: 1fr 1fr;
  grid-template-columns: 1fr 1fr;
  -ms-grid-rows: auto auto;
  grid-template-rows: auto auto;
  grid-row-gap: 16px;
  grid-column-gap: 16px;
}

h1 {
  margin-top: 20px;
  margin-bottom: 10px;
  font-size: 38px;
  line-height: 44px;
  font-weight: bold;
}

p {
  margin-bottom: 10px;
  font-family: Lato, sans-serif;
  color: #fff;
  font-weight: 300;
}

.container {
  position: relative;
  top: auto;
  bottom: auto;
  display: block;
  max-width: 866px;
  -webkit-box-flex: 1;
  -webkit-flex: 1;
  -ms-flex: 1;
  flex: 1;
  border-style: none;
  border-width: 6px;
  border-color: #dcdcc4;
}

.heading-1 {
  position: relative;
  left: 0%;
  top: 0%;
  right: 0%;
  bottom: 0px;
  max-width: none;
  margin-top: 24px;
  margin-right: 0px;
  margin-bottom: 0px;
  font-family: Lato, sans-serif;
  color: #f2f2f2;
  font-weight: 400;
  text-align: left;
  text-transform: uppercase;
}

.heading-1.center {
  -webkit-box-flex: 0;
  -webkit-flex: 0 auto;
  -ms-flex: 0 auto;
  flex: 0 auto;
  text-align: center;
}

.heading-1.center.annexes {
  margin-top: 72px;
}

.body {
  background-color: #141414;
  color: #141414;
}

.paragraph {
  position: relative;
  max-width: none;
  margin-top: 24px;
  margin-right: 0px;
  margin-bottom: 24px;
  font-family: Lato, sans-serif;
  color: #b0b0b0;
  font-size: 18px;
  line-height: 26px;
  font-weight: 300;
  text-align: left;
  letter-spacing: normal;
  text-transform: none;
}

.paragraph.center {
  text-align: center;
}

.section {
  display: block;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  background-color: #000;
}

.navbar {
  position: fixed;
  left: 0%;
  top: 0%;
  right: 0%;
  bottom: auto;
  z-index: 3;
  display: block;
  max-height: 50px;
  background-color: #000;
}

.nav-link {
  position: relative;
  display: inline-block;
  margin: 12px 24px;
  padding: 0px;
  font-family: Lato, sans-serif;
  color: #c4c4c4;
  font-size: 16px;
  font-weight: 300;
  cursor: pointer;
}

.nav-link:hover {
  color: #fff;
  font-weight: 300;
}

.nav-link.w--current {
  margin-top: 12px;
  margin-bottom: 12px;
  padding: 0px;
  background-color: transparent;
  color: #fff;
  font-weight: 700;
  white-space: normal;
}

.asset-fleche {
  position: relative;
  display: block;
  width: 48px;
  height: 48px;
  max-width: none;
  margin-right: auto;
  margin-left: auto;
  cursor: pointer;
}

.div-1 {
  position: relative;
  max-width: none;
  min-height: 0px;
  margin: 24px;
  padding: 12px;
  border: 6px solid #d9d9d9;
  background-color: #0f0f0f;
  color: #d9d9d9;
}

.div-1-1 {
  position: relative;
  min-height: 0px;
  padding: 24px;
  border: 1px solid #d9d9d9;
  color: #d9d9d9;
}

.triangle-1 {
  position: absolute;
  left: 12px;
  top: 12px;
  display: inline-block;
  max-width: 24px;
  color: beige;
}

.section-3 {
  position: relative;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  overflow: visible;
  height: 100vh;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-flex-wrap: nowrap;
  -ms-flex-wrap: nowrap;
  flex-wrap: nowrap;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.div-background {
  position: fixed;
  left: 0%;
  top: 0%;
  right: 0%;
  bottom: 0px;
  display: block;
  width: auto;
  height: 100%;
  min-width: auto;
  margin-right: auto;
  margin-left: auto;
  background-image: url('../images/Background_2.svg');
  background-position: 50% 50%;
  background-size: auto 125%;
  background-repeat: no-repeat;
  background-attachment: fixed;
  opacity: 0.2;
  -o-object-fit: fill;
  object-fit: fill;
}

.footer {
  position: relative;
  left: 0px;
  right: 0px;
  bottom: 0px;
  margin-top: 0px;
  padding-top: 12px;
  padding-bottom: 12px;
  -webkit-box-align: start;
  -webkit-align-items: flex-start;
  -ms-flex-align: start;
  align-items: flex-start;
  background-color: #141414;
  text-align: center;
}

.footer-flex-container {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 0px;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
  text-align: left;
}

.footer-link {
  display: block;
  margin-bottom: 0px;
  font-family: Lato, sans-serif;
  color: #c4c4c4;
  font-weight: 300;
  text-decoration: none;
}

.footer-link:hover {
  text-decoration: underline;
}

.container-4 {
  position: relative;
  display: block;
  margin-right: auto;
  margin-left: auto;
  background-color: #000;
}

.html-embed-3 {
  position: relative;
  margin-right: auto;
  margin-bottom: 0px;
  margin-left: auto;
}

.heading-3 {
  position: relative;
  left: 0%;
  top: 0%;
  right: 0%;
  bottom: auto;
  max-width: none;
  margin-top: 0px;
  margin-bottom: 24px;
  font-family: Lato, sans-serif;
  color: #f2f2f2;
  font-size: 18px;
  line-height: 22px;
  text-align: center;
}

.image-12 {
  position: absolute;
  left: auto;
  top: auto;
  right: auto;
  bottom: auto;
  display: block;
  max-width: none;
  margin: 0px auto;
  -webkit-box-ordinal-group: 3;
  -webkit-order: 2;
  -ms-flex-order: 2;
  order: 2;
  -o-object-fit: contain;
  object-fit: contain;
}

.utility-page-wrap {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 100vw;
  height: 100vh;
  max-height: 100%;
  max-width: 100%;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.utility-page-content {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 300px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  text-align: center;
}

.section-cadre {
  position: relative;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  height: 100vh;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  background-color: transparent;
}

.list {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 0px;
  padding-right: 0px;
  padding-left: 0px;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-flex-wrap: nowrap;
  -ms-flex-wrap: nowrap;
  flex-wrap: nowrap;
}

.container-6 {
  display: inline-block;
}

.div-map-fixed {
  position: relative;
  display: none;
  padding: 0px;
  border: 0.5px none beige;
  cursor: pointer;
}

.heading {
  position: relative;
  margin-top: 0px;
  margin-bottom: 24px;
  -webkit-align-self: auto;
  -ms-flex-item-align: auto;
  -ms-grid-row-align: auto;
  align-self: auto;
  font-family: Lato, sans-serif;
  color: #f2f2f2;
  font-size: 120px;
  line-height: 120px;
  font-weight: 300;
  text-align: center;
  text-transform: uppercase;
}

.nav-menu {
  right: 0px;
  display: block;
  background-color: #000;
}

.paragraph-5 {
  position: relative;
  margin-top: 24px;
  margin-bottom: 0px;
  color: #d9d9d9;
  font-size: 18px;
  line-height: 24px;
  text-align: left;
}

.container-10 {
  position: relative;
  display: block;
  max-height: none;
  max-width: 866px;
  margin-top: auto;
  margin-bottom: auto;
  -webkit-box-flex: 0;
  -webkit-flex: 0 auto;
  -ms-flex: 0 auto;
  flex: 0 auto;
}

.container-10.container-next {
  height: auto;
  max-height: none;
  max-width: 866px;
  -webkit-box-flex: 1;
  -webkit-flex: 1;
  -ms-flex: 1;
  flex: 1;
}

.container-10.container-map {
  max-height: none;
  max-width: 75vw;
  -webkit-box-flex: 1;
  -webkit-flex: 1;
  -ms-flex: 1;
  flex: 1;
}

.section-gris {
  position: relative;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  height: 100vh;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  border: 1px none #d9d9d9;
  background-color: #141414;
}

.section-gris.section-auto {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  height: 100vh;
}

.section-gris.section-auto.section-annexes {
  height: auto;
}

.section-gris.section-survey {
  display: block;
}

.paragraph-7 {
  position: relative;
  margin-bottom: 0px;
  color: #d9d9d9;
  font-size: 18px;
  line-height: 24px;
  text-align: center;
}

.div-block-23 {
  position: relative;
  left: 0%;
  top: 0%;
  right: 0%;
  bottom: auto;
  max-width: 400px;
  margin-top: 48px;
  margin-right: auto;
  margin-left: auto;
  float: none;
  cursor: pointer;
  -o-object-fit: fill;
  object-fit: fill;
}

.div-block-24 {
  position: relative;
  left: auto;
  top: auto;
  right: auto;
  bottom: auto;
  display: block;
  max-width: 300px;
  margin-right: auto;
  margin-left: auto;
  -webkit-box-ordinal-group: 4;
  -webkit-order: 3;
  -ms-flex-order: 3;
  order: 3;
  cursor: pointer;
}

.div-block-25 {
  position: relative;
  left: auto;
  top: auto;
  right: auto;
  bottom: auto;
  display: block;
  max-width: 300px;
  margin-right: auto;
  margin-left: auto;
  -webkit-box-ordinal-group: 2;
  -webkit-order: 1;
  -ms-flex-order: 1;
  order: 1;
  grid-auto-columns: 1fr;
  -ms-grid-columns: 1fr 1fr;
  grid-template-columns: 1fr 1fr;
  -ms-grid-rows: auto auto;
  grid-template-rows: auto auto;
  cursor: pointer;
}

.div-block-26 {
  position: relative;
  max-width: 400px;
  margin-right: auto;
  margin-left: auto;
  cursor: pointer;
}

.div-block-27 {
  position: relative;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin: 48px auto;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-align-content: center;
  -ms-flex-line-pack: center;
  align-content: center;
  -o-object-fit: fill;
  object-fit: fill;
}

.div-block-28 {
  position: relative;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 150px;
  height: 150px;
  max-width: none;
  min-width: 0px;
  margin-right: 48px;
  margin-left: 48px;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-flex-wrap: nowrap;
  -ms-flex-wrap: nowrap;
  flex-wrap: nowrap;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-align-self: center;
  -ms-flex-item-align: center;
  align-self: center;
  -webkit-box-ordinal-group: 3;
  -webkit-order: 2;
  -ms-flex-order: 2;
  order: 2;
}

.section-titre {
  display: block;
  height: 100vh;
}

.div-block-30 {
  position: absolute;
  left: 0%;
  top: auto;
  right: 0%;
  bottom: 0%;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-flex-wrap: nowrap;
  -ms-flex-wrap: nowrap;
  flex-wrap: nowrap;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.paragraph-8 {
  display: block;
  margin-bottom: 12px;
  color: #d9d9d9;
  font-size: 18px;
  line-height: 22px;
  font-weight: 300;
}

.div-block-31 {
  position: absolute;
  left: 0%;
  top: auto;
  right: 0%;
  bottom: auto;
  display: block;
  width: 600px;
  height: auto;
  margin: auto;
  padding: 24px;
  border: 1px solid beige;
  background-color: #141414;
}

.div-pop-up-1 {
  position: fixed;
  z-index: 3;
  display: none;
  width: 100vw;
  height: 100vh;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  background-color: rgba(20, 20, 20, 0.8);
}

.div-croix-1 {
  position: absolute;
  left: auto;
  top: 0%;
  right: 0%;
  bottom: auto;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 48px;
  height: 48px;
  padding: 0px;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  cursor: pointer;
}

.image-18 {
  width: 24px;
  max-width: none;
}

.div-pop-up-2 {
  position: fixed;
  z-index: 3;
  display: none;
  width: 100vw;
  height: 100vh;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  background-color: rgba(20, 20, 20, 0.8);
}

.div-croix-2 {
  position: absolute;
  left: auto;
  top: 0%;
  right: 0%;
  bottom: auto;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 48px;
  height: 48px;
  padding: 0px;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  cursor: pointer;
}

.div-pop-up-3 {
  position: fixed;
  z-index: 3;
  display: none;
  width: 100vw;
  height: 100vh;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  background-color: rgba(20, 20, 20, 0.8);
  cursor: default;
}

.div-croix-3 {
  position: absolute;
  left: auto;
  top: 0%;
  right: 0%;
  bottom: auto;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 48px;
  height: 48px;
  padding: 0px;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  cursor: pointer;
}

.div-pop-up-4 {
  position: fixed;
  z-index: 3;
  display: none;
  width: 100vw;
  height: 100vh;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  background-color: rgba(20, 20, 20, 0.8);
}

.div-croix-4 {
  position: absolute;
  left: auto;
  top: 0%;
  right: 0%;
  bottom: auto;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 48px;
  height: 48px;
  padding: 0px;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  cursor: pointer;
}

.image-19 {
  position: relative;
  max-width: none;
  -o-object-fit: fill;
  object-fit: fill;
}

.grid-4 {
  grid-column-gap: 16px;
  grid-row-gap: 16px;
  -ms-grid-columns: 1fr 1fr 1fr;
  grid-template-columns: 1fr 1fr 1fr;
  -ms-grid-rows: auto auto;
  grid-template-rows: auto auto;
}

.heading-2 {
  position: relative;
  z-index: 2;
  margin: auto auto 12px 0px;
  font-family: Lato, sans-serif;
  color: #fff;
  font-size: 24px;
  line-height: 30px;
  font-weight: 400;
  text-transform: uppercase;
}

.heading-2.center {
  text-align: center;
}

.image-fond-1 {
  position: relative;
  display: block;
  overflow: visible;
}

.paragraph-9 {
  position: relative;
  z-index: 2;
  margin: auto;
  font-size: 16px;
  line-height: 22px;
}

.image-container {
  position: relative;
  display: block;
  overflow: hidden;
  background-color: #141414;
}

.text-container {
  position: absolute;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  padding: 18px 12px 12px 18px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: reverse;
  -webkit-flex-direction: column-reverse;
  -ms-flex-direction: column-reverse;
  flex-direction: column-reverse;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: start;
  -webkit-align-items: flex-start;
  -ms-flex-align: start;
  align-items: flex-start;
}

.text-span {
  font-size: 10px;
  font-style: italic;
}

.text-span-2 {
  font-size: 10px;
  font-style: italic;
}

.div-block-34 {
  position: relative;
  margin-bottom: 48px;
}

.heading-0 {
  position: relative;
  margin-top: 0px;
  margin-bottom: 0px;
  font-family: Lato, sans-serif;
  color: #f2f2f2;
  font-size: 60px;
  line-height: 60px;
  font-weight: 300;
  text-align: center;
  text-transform: uppercase;
}

.link {
  color: #fff;
  font-weight: 300;
  text-decoration: underline;
}

.bold-text {
  font-size: 24px;
  font-weight: 300;
  text-transform: uppercase;
}

.bold-text-2 {
  font-size: 24px;
  font-weight: 300;
  text-transform: uppercase;
}

.bold-text-3 {
  font-size: 24px;
  font-weight: 300;
  text-transform: uppercase;
}

.bold-text-4 {
  font-size: 24px;
  font-weight: 300;
  text-transform: uppercase;
}

.bold-text-5 {
  font-size: 24px;
  font-weight: 300;
  text-transform: uppercase;
}

.bold-text-6 {
  font-size: 24px;
  font-weight: 300;
  text-transform: uppercase;
}

.bold-text-7 {
  font-size: 24px;
  font-weight: 300;
  text-transform: uppercase;
}

.bold-text-8 {
  font-size: 24px;
  font-weight: 300;
  text-transform: uppercase;
}

.bold-text-9 {
  font-size: 24px;
  font-weight: 300;
  text-transform: uppercase;
}

.bold-text-10 {
  font-size: 24px;
  font-weight: 300;
  text-transform: uppercase;
}

.bold-text-11 {
  font-size: 24px;
  font-weight: 300;
  text-transform: uppercase;
}

.bold-text-12 {
  font-size: 24px;
  font-weight: 300;
  text-transform: uppercase;
}

.bold-text-13 {
  font-size: 24px;
  font-weight: 300;
  text-transform: uppercase;
}

.bold-text-14 {
  font-size: 24px;
  font-weight: 300;
  text-transform: uppercase;
}

.bold-text-15 {
  font-size: 24px;
  line-height: 32px;
  font-weight: 300;
  text-transform: uppercase;
}

.image-22 {
  position: relative;
  display: block;
  max-width: 180px;
  margin-top: 24px;
  margin-right: auto;
  margin-left: auto;
}

.section-coupure {
  position: relative;
  display: none;
  height: 10vh;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  background-color: #141414;
}

.div-block-36 {
  border: 1px solid beige;
}

.container-11 {
  max-width: 200px;
  -webkit-box-flex: 1;
  -webkit-flex: 1;
  -ms-flex: 1;
  flex: 1;
}

.link-block {
  overflow: visible;
}

.container-12 {
  position: relative;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  height: 100vh;
  padding-right: 0px;
  padding-left: 0px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.paragraph-12 {
  margin-top: 48px;
  margin-bottom: 0px;
  font-family: Lato, sans-serif;
  color: #b0b0b0;
  font-style: italic;
  font-weight: 300;
}

.div-block-39 {
  position: relative;
  display: block;
  margin-top: 24px;
  font-family: Lato, sans-serif;
  font-weight: 300;
  text-align: right;
}

.paragraph-13 {
  position: relative;
  display: block;
  margin-bottom: 24px;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  font-size: 24px;
  line-height: 24px;
  text-align: center;
}

.div-block-41 {
  position: absolute;
  left: auto;
  top: auto;
  right: 0%;
  bottom: 0%;
}

.paragraph-14 {
  margin-right: 12px;
  margin-bottom: 12px;
}

.div-pop-up {
  position: absolute;
  left: 0%;
  top: 0%;
  right: 0%;
  bottom: 0%;
  z-index: 3;
  display: none;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  background-color: #141414;
}

.image-27 {
  display: block;
  max-height: 100%;
}

.div-block-45 {
  position: absolute;
  left: auto;
  top: 0%;
  right: 0%;
  bottom: auto;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 48px;
  height: 48px;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  background-color: #141414;
  cursor: pointer;
}

.image-28 {
  width: 24px;
}

.paragraph-17 {
  display: none;
}

.list-footer {
  margin-right: 12px;
  margin-left: 12px;
}

.image-29 {
  width: 48px;
  height: 48px;
  max-width: none;
}

.div-block-46 {
  position: fixed;
  left: auto;
  top: auto;
  right: 5%;
  bottom: 5%;
  z-index: auto;
  display: block;
  width: 48px;
  height: 48px;
  grid-auto-columns: 1fr;
  -ms-grid-columns: 1fr 1fr;
  grid-template-columns: 1fr 1fr;
  -ms-grid-rows: auto auto;
  grid-template-rows: auto auto;
}

.image-30 {
  display: block;
  max-width: 180px;
  margin-top: 24px;
  margin-right: auto;
  margin-left: auto;
}

.section {
  display: block;
  height: 100vh;
}

.nav-link-test {
  display: none;
  margin: 12px 24px;
  padding: 0px;
  font-family: Lato, sans-serif;
  color: #c4c4c4;
  font-size: 16px;
  font-weight: 300;
}

.pop-up-circular {
  position: absolute;
  left: 25%;
  top: 8%;
  right: auto;
  bottom: auto;
  display: none;
  width: auto;
  padding: 0px;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-flex-wrap: nowrap;
  -ms-flex-wrap: nowrap;
  flex-wrap: nowrap;
  -webkit-box-align: start;
  -webkit-align-items: flex-start;
  -ms-flex-align: start;
  align-items: flex-start;
  background-color: #141414;
}

.text-map-1 {
  font-family: Lato, sans-serif;
  color: #f2f2f2;
  font-size: 2.4vw;
  font-weight: 400;
}

.div-block-49 {
  position: absolute;
  left: 10.5%;
  top: 13%;
  right: auto;
  bottom: auto;
  padding: 0px;
  cursor: pointer;
}

.div-extend {
  position: absolute;
  left: auto;
  top: 0%;
  right: 0%;
  bottom: auto;
  width: 24px;
  height: auto;
  margin-top: 12px;
  margin-right: 12px;
  background-color: transparent;
}

.image-33 {
  position: relative;
}

.div-block-50 {
  position: absolute;
  left: 41.5%;
  top: 20%;
  right: auto;
  bottom: auto;
  cursor: pointer;
}

.div-block-51 {
  position: absolute;
  left: auto;
  top: 15%;
  right: 7%;
  bottom: auto;
  cursor: pointer;
}

.div-block-52 {
  position: absolute;
  left: 12%;
  top: 37%;
  right: auto;
  bottom: auto;
  cursor: pointer;
}

.text-map-2 {
  font-family: Lato, sans-serif;
  color: #f2f2f2;
  font-size: 1.7vw;
  font-weight: 300;
}

.div-block-53 {
  position: absolute;
  left: 47%;
  top: 48.5%;
  right: auto;
  bottom: auto;
  cursor: pointer;
}

.div-block-54 {
  position: absolute;
  left: auto;
  top: 41%;
  right: 5%;
  bottom: auto;
  cursor: pointer;
}

.text-map-3 {
  font-family: Lato, sans-serif;
  color: #f2f2f2;
  font-size: 1.3vw;
  font-weight: 300;
}

.div-block-55 {
  position: absolute;
  left: 7%;
  top: auto;
  right: auto;
  bottom: 36%;
  cursor: pointer;
}

.div-block-56 {
  position: absolute;
  left: 34.5%;
  top: auto;
  right: auto;
  bottom: 34%;
  cursor: pointer;
}

.div-block-57 {
  position: absolute;
  left: auto;
  top: auto;
  right: 19%;
  bottom: 36%;
  cursor: pointer;
}

.text-map-4 {
  font-family: Lato, sans-serif;
  color: #f2f2f2;
  font-size: 0.8vw;
  font-weight: 300;
  letter-spacing: normal;
}

.div-block-58 {
  position: absolute;
  left: auto;
  top: auto;
  right: 6%;
  bottom: 44.5%;
  cursor: pointer;
}

.div-block-59 {
  position: absolute;
  left: 7%;
  top: auto;
  right: auto;
  bottom: 7%;
  cursor: pointer;
}

.div-block-60 {
  position: absolute;
  left: 20%;
  top: auto;
  right: auto;
  bottom: 16%;
  cursor: pointer;
}

.div-block-61 {
  position: absolute;
  left: 25%;
  top: auto;
  right: auto;
  bottom: 28%;
  cursor: pointer;
}

.div-block-62 {
  position: absolute;
  left: 33%;
  top: auto;
  right: auto;
  bottom: 7%;
  cursor: pointer;
}

.div-block-63 {
  position: absolute;
  left: auto;
  top: auto;
  right: 45%;
  bottom: 21%;
  cursor: pointer;
}

.div-block-64 {
  position: absolute;
  left: auto;
  top: auto;
  right: 37%;
  bottom: 9%;
  cursor: pointer;
}

.div-block-65 {
  position: absolute;
  left: auto;
  top: auto;
  right: 17%;
  bottom: 24%;
  cursor: pointer;
}

.div-map-animated {
  position: relative;
  display: block;
}

.div-block-66 {
  margin: 12px;
  padding: 12px;
  border: 1px solid #f2f2f2;
}

.text-block-6 {
  font-family: Lato, sans-serif;
  color: #b0b0b0;
  font-size: 14px;
  font-weight: 300;
}

.div-text-map {
  position: absolute;
  left: 0%;
  top: 0%;
  right: 0%;
  bottom: 0%;
}

.pop-up-regenerative {
  position: absolute;
  left: 26%;
  top: 32%;
  right: auto;
  bottom: auto;
  display: none;
  padding: 0px;
  background-color: #141414;
}

.pop-up-responsible {
  position: absolute;
  left: 18%;
  top: auto;
  right: auto;
  bottom: 30%;
  display: none;
  padding: 0px;
  background-color: #141414;
  background-clip: border-box;
  -webkit-text-fill-color: inherit;
}

.pop-up-net-zero {
  position: absolute;
  left: 30%;
  top: auto;
  right: auto;
  bottom: 20%;
  display: none;
  padding: 0px;
  background-color: #141414;
}

.pop-up-sustainable {
  position: absolute;
  left: 14%;
  top: auto;
  right: auto;
  bottom: 1%;
  display: none;
  padding: 0px;
  background-color: #141414;
}

.pop-up-green {
  position: absolute;
  left: 24%;
  top: auto;
  right: auto;
  bottom: 10%;
  display: none;
  padding: 0px;
  background-color: #141414;
}

.pop-up-economies {
  position: absolute;
  left: auto;
  top: 16%;
  right: 28%;
  bottom: auto;
  display: none;
  padding: 0px;
  background-color: #141414;
}

.pop-up-societies {
  position: absolute;
  left: auto;
  top: auto;
  right: 30%;
  bottom: 46%;
  display: none;
  background-color: #141414;
}

.pop-up-organisations {
  position: absolute;
  left: auto;
  top: auto;
  right: 40%;
  bottom: 30%;
  display: none;
  background-color: #141414;
}

.pop-up-products {
  position: absolute;
  left: auto;
  top: auto;
  right: 30%;
  bottom: 17%;
  display: none;
  background-color: #141414;
}

.pop-up-services {
  position: absolute;
  left: 38%;
  top: auto;
  right: auto;
  bottom: 4%;
  display: none;
  background-color: #141414;
}

.pop-up-cities {
  position: absolute;
  left: auto;
  top: auto;
  right: 42%;
  bottom: 6%;
  display: none;
  background-color: #141414;
}

.pop-up-climate-control {
  position: absolute;
  left: auto;
  top: 12%;
  right: 32%;
  bottom: auto;
  display: none;
  background-color: #141414;
}

.pop-up-physical-mental-health {
  position: absolute;
  left: auto;
  top: 38%;
  right: 32%;
  bottom: auto;
  display: none;
  background-color: #141414;
}

.pop-up-biodiversity {
  position: absolute;
  left: auto;
  top: auto;
  right: 4%;
  bottom: 32%;
  display: none;
  background-color: #141414;
}

.pop-up-social-justice {
  position: absolute;
  left: auto;
  top: auto;
  right: 14%;
  bottom: 40%;
  display: none;
  background-color: #141414;
}

.pop-up-resilience-adaptation {
  position: absolute;
  left: auto;
  top: auto;
  right: 4%;
  bottom: 22%;
  display: none;
  background-color: #141414;
}

@media screen and (max-width: 991px) {
  .navbar {
    left: 0%;
    top: 0%;
    right: 0%;
    bottom: auto;
    overflow: visible;
    max-height: none;
    color: transparent;
  }

  .footer {
    padding-right: 20px;
    padding-left: 20px;
  }

  .div-map-fixed {
    display: block;
  }

  .heading {
    font-size: 80px;
    line-height: 80px;
  }

  .nav-menu {
    position: absolute;
    right: 0px;
  }

  .section-gris.section-auto {
    padding: 12px;
  }

  .text-container {
    padding: 6px;
  }

  .heading-0 {
    font-size: 40px;
    line-height: 40px;
  }

  .icon {
    border: 1px none transparent;
    color: #fff;
  }

  .menu-button {
    padding: 12px;
    background-color: #000;
  }

  .menu-button.w--open {
    background-color: #000;
  }

  .div-block-39 {
    display: block;
  }

  .paragraph-13 {
    font-size: 18px;
    line-height: 18px;
  }

  .div-pop-up {
    display: none;
  }

  .div-block-45 {
    width: 48px;
    height: 48px;
  }

  .div-map-animated {
    display: none;
  }
}

@media screen and (max-width: 767px) {
  .heading-1 {
    font-size: 30px;
    line-height: 34px;
  }

  .paragraph {
    font-size: 16px;
    line-height: 22px;
  }

  .footer {
    padding: 40px 20px;
  }

  .section-cadre {
    height: auto;
  }

  .heading {
    font-size: 56px;
    line-height: 56px;
  }

  .paragraph-5 {
    margin-left: 12px;
  }

  .section-gris {
    height: auto;
    padding-top: 42px;
    padding-bottom: 42px;
  }

  .section-gris.section-grid {
    height: auto;
  }

  .section-gris.section-auto {
    height: auto;
    padding: 13px;
  }

  .section-gris.section-survey {
    height: 100vh;
  }

  .div-block-28 {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    margin-right: 24px;
    margin-left: 24px;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
  }

  .section-titre {
    height: 100vh;
  }

  .heading-2 {
    font-size: 18px;
    line-height: 18px;
  }

  .paragraph-9 {
    font-size: 14px;
    line-height: 18px;
  }

  .text-container {
    padding: 6px;
  }

  .heading-0 {
    font-size: 28px;
    line-height: 28px;
  }

  .container-12 {
    height: 100vh;
    margin-top: 0px;
    padding-top: 10%;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
  }

  .div-block-37 {
    margin-right: 12px;
    margin-left: 12px;
  }

  .div-block-39 {
    display: block;
  }

  .paragraph-13 {
    margin-bottom: 24px;
    font-size: 14px;
    line-height: 14px;
  }

  .div-block-41 {
    left: auto;
    top: auto;
    right: 0%;
    bottom: 0%;
  }

  .paragraph-14 {
    font-size: 10px;
    line-height: 10px;
  }

  .div-pop-up {
    display: none;
  }

  .div-block-45 {
    top: 6px;
    right: 6px;
    width: 24px;
    height: 24px;
  }

  .image-28 {
    width: 12px;
  }
}

@media screen and (max-width: 479px) {
  .container {
    max-width: 100vw;
  }

  .heading-1 {
    font-size: 30px;
    line-height: 34px;
  }

  .div-1 {
    margin: 0px;
  }

  .div-1-1 {
    padding-right: 12px;
    padding-left: 12px;
  }

  .footer {
    padding-right: 20px;
    padding-left: 20px;
    text-align: left;
  }

  .footer-flex-container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
  }

  .heading-3 {
    display: block;
    margin-bottom: 12px;
  }

  .image-12 {
    max-width: 72px;
  }

  .section-cadre {
    height: 100vh;
  }

  .section-cadre.section-double {
    height: 200vh;
  }

  .heading {
    font-size: 42px;
    line-height: 42px;
  }

  .paragraph-5 {
    margin-right: 12px;
    margin-left: 12px;
    font-size: 16px;
    line-height: 20px;
  }

  .section-gris {
    height: auto;
  }

  .section-gris.section-grid {
    height: auto;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
  }

  .section-gris.section-auto {
    height: auto;
    padding: 12px;
  }

  .paragraph-7 {
    display: none;
  }

  .div-block-24 {
    min-width: 100px;
    -webkit-align-self: auto;
    -ms-flex-item-align: auto;
    -ms-grid-row-align: auto;
    align-self: auto;
  }

  .div-block-25 {
    display: block;
    min-width: 100px;
    -webkit-box-pack: start;
    -webkit-justify-content: flex-start;
    -ms-flex-pack: start;
    justify-content: flex-start;
    -webkit-box-align: stretch;
    -webkit-align-items: stretch;
    -ms-flex-align: stretch;
    align-items: stretch;
  }

  .div-block-27 {
    margin-top: auto;
    margin-bottom: auto;
    padding-right: 12px;
    padding-left: 12px;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
  }

  .div-block-28 {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    margin-right: auto;
    margin-left: auto;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-flex-wrap: nowrap;
    -ms-flex-wrap: nowrap;
    flex-wrap: nowrap;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-align-content: center;
    -ms-flex-line-pack: center;
    align-content: center;
    -webkit-align-self: center;
    -ms-flex-item-align: center;
    align-self: center;
  }

  .section-titre {
    height: 100vh;
  }

  .paragraph-8 {
    color: #d9d9d9;
  }

  .div-block-31 {
    display: block;
    width: auto;
    padding: 12px;
    border-style: solid;
  }

  .div-pop-up-1 {
    display: none;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
  }

  .image-18 {
    max-width: 24px;
  }

  .div-pop-up-2 {
    display: none;
  }

  .div-pop-up-3 {
    display: none;
  }

  .div-pop-up-4 {
    display: none;
    height: 100vh;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
  }

  .grid-4 {
    position: relative;
    grid-auto-flow: row;
    grid-auto-rows: 250px;
    grid-column-gap: 12px;
    grid-row-gap: 12px;
    -ms-grid-columns: 1fr 1fr;
    grid-template-columns: 1fr 1fr;
    -ms-grid-rows: 250px 250px;
    grid-template-rows: 250px 250px;
  }

  .heading-2 {
    margin-bottom: 6px;
    font-size: 18px;
    line-height: 18px;
  }

  .image-fond-1 {
    height: 250px;
    max-width: none;
    -o-object-fit: fill;
    object-fit: fill;
  }

  .paragraph-9 {
    font-size: 14px;
    line-height: 18px;
  }

  .image-container {
    position: relative;
  }

  .text-container {
    overflow: visible;
    padding: 6px;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
  }

  .text-span {
    line-height: 10px;
  }

  .heading-0 {
    font-size: 20px;
    line-height: 20px;
  }

  .section-coupure {
    display: none;
  }

  .container-12 {
    padding-top: 0%;
    padding-right: 0px;
    padding-left: 0px;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
  }

  .container-13 {
    max-width: 100vw;
  }

  .div-block-37 {
    position: relative;
    padding-right: 12px;
    padding-left: 12px;
  }

  .div-block-38 {
    padding: 0px 12px;
  }

  .paragraph-12 {
    color: #d9d9d9;
    font-style: italic;
    text-align: right;
  }

  .div-block-39 {
    position: relative;
    display: block;
    margin-top: 24px;
    padding-right: 12px;
    padding-left: 12px;
  }

  .paragraph-13 {
    display: none;
    margin: 0px;
    font-size: 14px;
    line-height: 20px;
  }

  .div-block-41 {
    left: auto;
    top: 60px;
    right: 0%;
    bottom: auto;
  }

  .div-pop-up {
    display: none;
  }

  .paragraph-17 {
    position: relative;
    display: block;
    margin-bottom: 12px;
    font-size: 16px;
    line-height: 24px;
    text-align: center;
  }

  .list-footer {
    margin-right: 6px;
    margin-left: 6px;
  }
}

@media screen and (max-width: 479px) {
  #w-node-c9aa01e3-bed3-c523-562a-ff468ed72e75-662a5968 {
    -ms-grid-column-align: auto;
    justify-self: auto;
  }
}

